<div class="section">

    <img class="img-center-crop ma-small" src="{{service.urlBase+user.imagen}}" width="200px" height="200px" />
    <div class="row">
        <div class="detail col s12 m6 l4">
            <div>Nombre</div>
            <div>{{user.nombre}}</div>
        </div>
        <div class="detail col s12 m6 l4">
            <div>Cedula</div>
            <div>{{user.cedula}}</div>
        </div>
        <div class="detail col s12 m6 l4">
            <div>Celular</div>
            <div>{{user.celular}}</div>
        </div>
    </div>
</div>