<form #form="ngForm">
    <div class="section">
        <h5 class="detail-title mb">Tiempo maximo de uso
            <i class="right material-icons grey-text" (click)="restore()">settings_backup_restore</i>
        </h5>
        <div class="switch">
            <label>
                <input #mx type="checkbox" [checked]="dMax"  (change)="changeMax(mx.checked)">
                <span class="lever"></span>
                Configuración por defecto
            </label>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l4">
                <input name="tmax" min="1" type="number" class="validate" [(ngModel)]="tMax" [disabled]="dMax" required>
                <label class="active">Tiempo maximo (minutos)</label>
            </div>
        </div>
    </div>

    <div class="section">
        <h5 class="mb">Tiempo minimo de uso</h5>
        <div class="switch">
            <label>
                <input #mn type="checkbox" [checked]="dMin" (change)="changeMin(mn.checked)">
                <span class="lever"></span>
                Configuración por defecto
            </label>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l4">
                <input name="tmin" min="1" type="number" class="validate" [(ngModel)]="tMin" [disabled]="dMin" required>
                <label class="active">Tiempo minimo (minutos)</label>
            </div>
        </div>
    </div>

    <div class="section">
        <h5 class="mb">Tiempo extra de retiro</h5>
        <div class="switch">
            <label>
                <input #ex type="checkbox" [checked]="dExtra" (change)="changeExtra(ex.checked)">
                <span class="lever"></span>
                Configuración por defecto
            </label>
        </div>
        <div class="row">
            <div class="input-field col s12 m8 l4">
                <input name="textra" min="0" type="number" class="validate" [(ngModel)]="tExtra" [disabled]="dExtra" required>
                <label class="active">Tiempo Extra (minutos)</label>
            </div>
        </div>

    </div>
    <div class="row">
        <button *ngIf="!loading" class="waves-effect waves-light btn col s12 m8 l3" [disabled]="!form.valid && !(dExtra && dMin && dMax)" (click)="save()">Guardar</button>
    </div>
    
</form>
<app-loader [size]="small" [show]="loading" [center]="true"></app-loader>