<div class="section">
  <img class="m-small img-center-crop" src="{{service.urlBase+selected.supervisor.imagen}}"
    width="200px" height="200px"
  />
  <div class="row">

    <div class="detail col s12 m6 l4">
      <div>Nombre</div>
      <div>{{selected.supervisor.nombre}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Cedula</div>
      <div>{{selected.supervisor.cedula}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Celular</div>
      <div>{{selected.supervisor.celular}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Usuario</div>
      <div>{{selected.supervisor.usuario}}</div>
    </div>
  </div>
</div>
