<div class="section">
  <img class="m-small img-center-crop" src="{{service.urlBase+selected.aux.imagen}}"
    width="200px" height="200px"
  />
  <div class="row">

    <div class="detail col s12 m6 l4">
      <div>Nombre</div>
      <div>{{selected.aux.nombre}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Cedula</div>
      <div>{{selected.aux.cedula}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Celular</div>
      <div>{{selected.aux.celular}}</div>
    </div>
    <div class="detail col s4">
      <div>Dispositivo</div>
      <div>{{selected.aux.dispositivo}}</div>
    </div>
    <div class="detail col s12 m6 l4">
      <div>Usuario</div>
      <div>{{selected.aux.usuario}}</div>
    </div>
  </div>
</div>
