html, body{
  height:100vh;
}

/* Dimensions */

.col.nm{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

.row.nm{
  margin:0px;
}


/* Images */
.center-crop{
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.img-center-crop{
  object-position: center;
  object-fit: cover;
  padding: 0px;
  margin: 0px;
}
