html, body{
  height:100vh;
}

/* Dimensions */

.nm {
  margin: 0px;
}

.col.nm{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

.row.nm{
  margin:0px;
}

.m{
  margin: 20px;
}

.m-small{
  margin: 10px;
}

.mb{
  margin-bottom: 20px;
}

.mb-small{
  margin-bottom: 10px;
}

.mt{
  margin-top: 20px;
}

.mt-small{
  margin-top: 10px;
}

.mr{
  margin-right: 20px;
}

.mr-small{
  margin-right: 10px;
}

/* Images */
.center-crop{
  background-repeat: no-repeat;
  background-position:center;
  background-size:cover;
}

.img-center-crop{
  object-position: center;
  object-fit: cover;
}

/* Acciones */
.clickable{
  cursor: pointer;
}

/* Custom */

.card-horizontal{
  display: flex;
  flex-direction: row;
}

.card-horizontal > img{
  object-position: center;
  object-fit: cover;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.card-horizontal > div{
  flex: 1;
  vertical-align: top;
}

.detail-title i{
  margin-left: 10px;
  cursor: pointer;
}

.detail{
  margin-bottom: 20px;
}
.detail div:first-child{
  font-weight: bold;
}

.bahia .cod{
  font-weight: bold;
  margin-bottom: 10px;
}

.bahia .state{
  color: #2196f3;
}

.bahia .state.full{
  color: #ef5350;
}
/* Widgets */

.breadcrumb.dark {
  color: #777;
  cursor: pointer;
}

.breadcrumb.dark:before  {
  color: #222;
}

.breadcrumb.dark:last-child{
  color: #111;
  cursor: default;
}

.tabs.main .tab a {
  color: #424242;
}
.tabs.main .tab a:hover {
  color: #9e9e9e;
}
.tabs.main .indicator {
  background-color: #42a5f5;
}

.material-icons.vc, .btn-floating.vc{
  vertical-align:middle;
}

.card-content.p-small{
  padding: 10px;
}

.card-content.nm{
  margin: 0px;
}